<mat-drawer-container class="h-100 w-100">
  <mat-drawer mode="side" opened class="pd-nav">
    <div class="nav-bar-flex h-100">
      <div>
        <img class="logo-img mb-5" src="../../assets/Logo.svg" alt="">
        <div class="mt-5">
          <a class="w-100 link-primary" routerLink="./" mat-button [routerLinkActive]="'active'"><mat-icon class="material-symbols-rounded">home</mat-icon>Dashboard</a>
          <a class="w-100 link-primary" routerLink="./projects" mat-button [routerLinkActive]="'active'"><mat-icon class="material-symbols-rounded">checklist</mat-icon>Projects</a>
          <a class="w-100 link-primary" routerLink="./notes" mat-button [routerLinkActive]="'active'"><mat-icon class="material-symbols-rounded">note</mat-icon>Notes</a>
        </div>
      </div>

      <div>
        <a class="w-100 link-primary" routerLink="/" mat-button><mat-icon class="material-symbols-rounded">logout</mat-icon>Log out</a>
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content class="bg pd-nav">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
