$textcolor : #383838
$primary_color : #7A57D1
$secondary_color : #4FC1E9
$background_color : #D6D6D6

.logo_icon
  text-align: center

  img
    height: 8rem
    width: 8rem

  h2
    color: $primary_color

.btn
  &-purple
    background-color: $primary_color !important

  &-blue
    background-color: $secondary_color !important

.link
  &-primary
    color: $textcolor !important
    display: flex !important



    &:hover
      color: $primary_color !important

.txt
  color: $textcolor

  &-primary
    color: $primary-color

  &-secondary
    color: $secondary_color

.bg
  background:$background_color

.pd-nav
  padding: 2rem
